/* # 참고)
    css속성 우선순위에 관한 아티클 및 강의
    - https://www.edwith.org/boostcourse-web/lecture/16674/
    - https://opentutorials.org/course/2418/13409
    
  첨언 : css (cascading style sheet) */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.container {
  display: flex;
}
